[2018-08-31 19:44] mattstauffer opened #1 "Tall cards"
I have a lot of cards that are taller than the enforced 150px for 1/2 and 2/3 cards.

I've solved it two different ways. One, I've forced the height with manual CSS (which breaks the dashboard flow):

![image](https://user-images.githubusercontent.com/151829/44932764-b74d4800-ad34-11e8-95eb-d106411f58b8.png)

And two, i've added internal scrollers:

![image](https://user-images.githubusercontent.c

[2018-08-31 19:52] mattstauffer opened #2 "Generating additional tools into a pre-existing package"
I have a package (nova-google-analytics) with two metrics. I wanted to add a card, so I ran `php artisan nova:card tightenco/nova-google-analytics-another-card` and then copied the files out of the generated directory into my existing package repo.

Is there a better way to do this? Or is this the best option for now?

[2018-08-31 19:53] mattstauffer opened #3 "Dev tools in Nova when developing a package"
I *think* we found that copying `webpack.mix.js.dist` into `webpack.mix.js` in my Nova install, then running `npm install && npm run dev`, was supposed to be enough to get Nova's Vue in dev mode so I could then use the Vue dev tools, but I'm not 100% sure. I'm going to go re-try it later, but has anyone else run into this issue where you're writing a package and trying to debug it and you can't us

[2018-08-31 21:44] sidis405 commented on #3
The inspection has been disabled by default. This forbids devtools from looking into it.
I had a run at it (including compiling nova on dev an so on) but to no effect.

Then i found two little flag disabled by default that did the trick. Put it in your `tool.js` like so:

[code]

And Voilà

![screen shot 2018-08-31 at 11 37 28 pm](https://user-images.githubusercontent.com/844961/44937071-c86b7880-

[2018-08-31 21:56] sidis405 commented on #3
I wasn't aware of it. Handy :) https://vuejs.org/v2/api/?#devtools

[2018-09-01 01:41] alexbowers commented on #1
My thoughts, bearing in mind its 4am, are perhaps that how something like this should work is that the card acts as a summary or preview, but if there is more than X amount of data, that should action you towards a dashboard view with the complete dataset on it.

For example, your GA most-visited pages would show the top 5 pages, and have a link to a Google Analytics dashboard to view them all, an

[2018-09-01 01:43] alexbowers commented on #2
I feel like an `--external` or similar would be a very useful thing for the Nova make commands to all support where they would accept a file path to output the files in, so if you are doing an external package you'd be able to have them immediately placed in the external package, and pulled in via Composer using the `path` repositories type.

[2018-09-01 09:35] themsaid commented on #1
Yes I think a card may show just a few records with a link to view full details.

[2018-09-04 13:08] ovvessem commented on #1
Agree with @alexbowers and @themsaid. I think a card should be seen as a summary of data with a link to view the extend of it.

[2018-09-04 13:22] alexbowers opened #4 "[Code Review Request] Multiple Dashboard Support"
I have created a package that is close to being done, but some hackery-bullshit has had to happen to get bits of it to work.

I'd rather not have to do it that way, so if anyone can think of alternatives, i'd be very happy.

https://github.com/alexbowers/nova-multiple-dashboard

Places that cause me the most concern are:

- https://github.com/alexbowers/nova-multiple-dashboard/blob/master/src/Tool

[2018-09-04 15:18] tomhatzer opened #5 "[WIP] Menu package"
I'm currently working on a nova menu package, that has spatie/menu (spatie/laravel-menu) integration. So you basically just have to do a `Menu::build(NovaMenu::getTree(), 'NovaMenu::buildMenu')` in the frontend and everything will be done by the NovaMenu and the spatie Package.

Creating menus is already working, I'm currently working on the menu items (using an already existing [vue component](ht

[2018-09-04 15:23] ryanmortier opened #6 "Finding popular packages"
It would be awesome to be able to sort by how many stars the package has on GitHub.

[2018-09-04 15:38] mattstauffer commented on #1
I think these are really great points. Thanks everyone!

[2018-09-04 15:38] #1 closed, assigned to nobody

[2018-09-04 15:51] mattstauffer commented on #6
@ryanmortier The "popular" section on the home page is sorting based on GitHub stars and Packagist downloads. Is there something about that feature that isn't providing what you want? Are you wanting more than six?

[2018-09-04 15:51] mattstauffer commented on #6
@ryanmortier Also--I think you may have intended this for the novapackages-issues repo, which is where we handle conversations around novapackages.com; this repo is about discussing the process of Nova package development.

[2018-09-04 15:53] ryanmortier commented on #6
@mattstauffer I wasn't aware of that, thanks. Also you're right on your second part. Closing.

[2018-09-04 15:53] #6 closed, assigned to nobody

[2018-09-04 15:53] ryanmortier commented on #6
But yes, more than 6 would be awesome too.

[2018-09-04 19:54] FatBoyXPC opened #7 "Not committing dist"
I see people removing the `dist` directory from their package's `.gitignore` and the purist in me cringes. That said, as I'm building my own package currently, I've noticed that nova package javascript resources don't get handled by the "parent app" webpack config. Parent app here means the app that will be consuming the nova package.

I'm a total js noob - what sort of work needs to be done to re

[2018-09-04 20:08] mattstauffer commented on #7
Yah, you have to remove dist from `.gitignore`; it's a known issue I think they plan to fix, but they're gonna fix it by removing it from the ignore file, not by making the parent projects build those files.

I think. :)

[2018-09-04 20:22] FatBoyXPC commented on #7
I'm not such a fan if that's the fix, I think the parent should be doing all of the build. Curious what kind of js conflicts could crop up with the parent doing the full build vs each package building its own.

[2018-09-04 21:06] alexbowers opened #8 "Nova JS dependencies pull core file"
I was testing out my package, which uses one of the mixins that comes with Nova JS (HasCards.js).

The way that it is pulled in Nova JS examples is using:

[code]

however, you can pull in the file using:
[code]

and it has a massive filesize saving.

Using the example 1 your export is 80kb larger than the second one. They both do exactly the same thing.

Worth documenting.

[2018-09-04 21:06] alexbowers commented on #8
![image](https://user-images.githubusercontent.com/842974/45057884-cb73ab00-b08e-11e8-8a99-6e9044ffe729.png)

[2018-09-05 00:07] alexbowers commented on #4
This has now been released, and the above issues have been resolved.

https://novapackages.com/packages/alexbowers/nova-multiple-dashboard

[2018-09-05 00:07] #4 closed, assigned to nobody

[2018-09-05 02:11] monaye commented on #5
Looking great!
Maybe instead of showing the menu list in select, why don't you just use the regular list => detail UI/UX?
So, in the future, you can easily add an action button to each menu, where you can hide menu, sort, delete.
Just an idea 😄
![sample](https://user-images.githubusercontent.com/1147313/45067058-4a52fd00-b0fc-11e8-9594-d3d82af8dbc1.png)

[2018-09-05 20:59] OwenMelbz commented on #8
Is this just from the IDE? Or is it the actual output size?

Would be interesting to see if the editor is just sizing the file path, rather than the outfitted file

[2018-09-05 21:45] alexbowers commented on #8
It is the actual output size too. Verified it with `yarn prod`

[2018-09-06 08:30] tomhatzer commented on #5
I had the wordpress menu style in mind, where you select the menu from above and then customize the menu items below it. So you can have multiple separate menus on the website, wherever you like 😃 Hiding menu items is already on the list, as this is a functionality that the vue component already offers, deleting menu items will be added to this too.

[2018-09-06 14:11] cerelli opened #9 "Repeatable fields"
Hello, I would like to create a package similar to this one, https://github.com/fourstacks/nova-repeatable-fields, but that goes to save the "repetable" fields in another table.
Every time I save, it gives me an error saying that the attribute of the resource does not exist.
How can I create a field that is not a resource attribute?

[2018-09-06 18:04] robmpreston commented on #9
@cerelli Can you give us more details and the code you have currently?

You're going to need to modify or create your own field, nova-repeatable-fields won't do what you want.

[2018-09-06 19:41] dillingham opened #10 "Nova Notification Dropdown Package"

[2018-09-06 20:19] julianpoma commented on #9
I also have the same request. This is what we are looking for:

Assume you want to create an Invoice. Each invoice has some data, stored on the `invoices_table`, and many "items" or "lines", stored on another `invoice_items_table`

When you create and invoice, you fill all the invoice data, but we would like to create several items at the same time, just like with the [package](https://github.com/

[2018-09-06 20:47] cerelli commented on #9
I modify the nova-repeatable-fields.
This field return a json in fillAttributeFromRequest. I have a lead resource and in in lead model:
[code]
This is my test in fillAttributeFromRequest of repeator.
[code]
How can i save hasMany relation ? ` json_decode($request[$requestAttribute], true);`

[2018-09-06 21:18] alexbowers opened #11 "Nova CLI tool for creating packages"
I feel it would be useful for there to be a nova CLI tool that creates a package for you, offering you options to fill in as you go, and some prefilled ones that never change (eg. vendor).

What are other peoples thoughts on this? useful, or not worth the effort?

[2018-09-06 23:57] dillingham commented on #11
As someone who’s released a few packages already, can you identify some paint points and things you think it should automate?

Here is one for larave packages for reference
https://github.com/Jeroen-G/laravel-packager/

[2018-09-07 00:04] dillingham opened #12 "Nova Import Manager"

[2018-09-07 00:07] dillingham opened #13 "Nova Resource PDF Package"

[2018-09-07 00:07] alexbowers commented on #11
The pain points for me so far have been:

- Having to find the Spatie git URL every time for a new package to clone into a new folder.
- Doing the find replace (not too bad, but not the best experience. Most of it never changes for me)
- Removing the nova references in the composer.json (relative path etc).
- Removing the .circleci stuff
- Removing the tests folders
- Removing the files i dont use

[2018-09-07 00:32] dillingham opened #14 "Nova Support Package"

[2018-09-07 00:51] dillingham opened #15 "Nova Duplicate Model Package"

[2018-09-07 01:00] dillingham opened #16 "Nova Impersonate Package"

[2018-09-07 01:11] dillingham opened #17 "Nova Date Filter Package"

[2018-09-07 01:19] dillingham opened #18 "Nova Comment Package"

[2018-09-07 01:26] dillingham opened #19 "Nova Unique Field Package"

[2018-09-07 01:44] vootrunner opened #20 "Smarter TextArea field"
A package that acts as a normal textarea field but displays contents on the detail screen with an optional threshold for either the number of lines or characters to display before showing the 'click to view all' link.

Handy for actually displaying the contents of a textarea at a glance.

[2018-09-07 02:12] dillingham opened #21 "Nova Quick Create Package"

[2018-09-07 20:01] dillingham opened #22 "Nova Responsive Package"

[2018-09-07 20:05] alexbowers commented on #11
OK, i've built this. https://packagist.org/packages/alexbowers/nova-cli

[2018-09-07 20:13] beliolfa opened #24 "Collection of customizable Nova Fields [WIP]"
Hi there!

We are working in a rewrite of every "native" field that comes with Nova.

The idea is make them more configurable and reusable in package development. We have done ID, Text, Number, Textarea, Select, Password and Boolean so far. If you like the idea you can collaborate with us with your awesome PRs!

Some examples:

[code]

We are also adding events in vue components that propagates up

[2018-09-07 20:42] dillingham opened #25 "Nova Creation Chain Package"

[2018-09-08 01:29] dillingham opened #26 "Nova Auto Event Notifications Package"

[2018-09-08 01:55] dillingham commented on #26
Would lie nicely with this via the broadcast channel
https://github.com/tightenco/nova-package-development/issues/10

[2018-09-08 17:18] mattstauffer opened #27 "Nova changelog"
This issue is here for me to test a feature, but imagine this were a card describing a package that shows the full Nova changelog (a feature I'm already working on adding to our tightenco/nova-releases package).

[2018-09-08 17:18] mattstauffer commented on #27
I accept this challenge! I'm going to do this package, and therefore have added the `challenge-accepted` label to the idea that some other person who's definitely not me came up with.

[2018-09-09 11:38] coding-sunshine opened #28 "More flexibility with UI"
I know the theme made for Nova is amazing but, it would be great if people can make their own theme, not just CSS/JS but whole structure for themselves, as I can see a lot of great features built-in nova, but as an agency, we build a lot of CMS to manage client's request which even client and at times their customers have access to, no doubt with proper ACL, a lot of customers come to us with thei

[2018-09-09 12:37] alexbowers commented on #28
You can write a package that overrides all of the core files, so this is already do-able.

An example of how to override the files is here:

https://github.com/alexbowers/nova-multiple-dashboard/blob/master/src/ToolServiceProvider.php#L21

https://github.com/alexbowers/nova-multiple-dashboard/blob/master/resources/views/nova-overrides/dashboard/navigation.blade.php

This is overriding the sidebar

[2018-09-09 18:10] dillingham commented on #22
Thought: viewport meta tag needs to change

Current viewport meta tag is
`<meta name="viewport" content="width=1280">`
Needs to be
`<meta name="viewport" content="width=device-width, initial-scale=1.0">`

[2018-09-10 13:00] julianpoma opened #29 "Nova Create Child Relationship Package"
The idea of this package is to let you create a new resource and many "child dependent" ones, on a single action. For example, we may have an Invoice that consists on many Invoice Items.

[code]

[code]

When creating a new Invoice, you should be able to add as many "items rows" as you want, and then save the corresponding data on in its own tables (invoices_table and invoice_items_table).

EDIT:

[2018-09-10 13:29] cerelli commented on #29
Related to #9

[2018-09-10 13:39] dillingham commented on #29
This is already possible by defining nova relationships.

[2018-09-10 13:43] julianpoma commented on #29
@dillingham explain how?

[2018-09-10 13:46] dillingham commented on #29
Provided you set up the relationships within nova, on the detail page of a invoice you would have a interface for items and the ability to create items accordingly. Maybe not exactly the user experience you’re hoping for tailored very specifically for invoices, but it’s capable.

https://nova.laravel.com/docs/1.0/resources/relationships.html

[2018-09-10 13:49] cerelli commented on #29
???
In the same page?
I want to create one page for spatie/laravel-permission.

![screenshot_20180910_154443](https://user-images.githubusercontent.com/6558535/45301309-f8054800-b510-11e8-9c70-27f47d45ba52.png)

[2018-09-10 13:53] julianpoma commented on #29
@dillingham I already know that, and that the reason why I am posting this here. It's a matter of improving the UX and do things quickly.

![image](https://i.imgur.com/ImdYrrg.gif)

[2018-09-10 13:54] dillingham commented on #29
Well they package has been created already.
Using that package as a demo
https://novapackages.com/packages/vyuldashev/nova-permission
You can easily see what I am describing
Which is the user detail page with role & permission on it.

[2018-09-10 13:55] dillingham commented on #29
Oh I see what you mean. Cool 👍

[2018-09-10 17:16] dillingham opened #30 "Nova Logged In User Map Package"

[2018-09-10 19:09] dillingham opened #31 "Nova Relationship Count Field Package"

[2018-09-10 19:45] tnorthcutt commented on #27
![well-alright-jason-sudeikis](https://user-images.githubusercontent.com/796639/45320403-c8017900-b4ff-11e8-9c6a-a42126ad25af.gif)

[2018-09-11 01:42] dillingham opened #32 "Nova Search & Replace Action Package"

[2018-09-11 01:54] dillingham opened #33 "Nova Email Action Package"

[2018-09-11 02:38] mattstauffer commented on #27
Closing because it's now a real thing: https://github.com/tightenco/nova-releases

But I still would welcome any more lovely GIFs (pronounced with a hard "g", like the G in Geitz) anyone wants to share.

[2018-09-11 02:38] #27 closed, assigned to nobody

[2018-09-11 03:06] tnorthcutt commented on #27
![gif image](https://user-images.githubusercontent.com/796639/45335572-3e709c00-b53d-11e8-82c7-2a09a606a1d4.gif)

[2018-09-11 15:51] KABBOUCHI commented on #16
https://novapackages.com/packages/kabbouchi/nova-impersonate

[2018-09-11 16:41] dillingham commented on #29
Doesn’t support relationships yet but this package has a really similar behavior but stores as json

https://novapackages.com/packages/64robots/nova-row

[2018-09-11 16:52] akiyamaSM opened #34 "Nova Resource fields generator"
A Laravel Nova packages that will help you to generate the fields from your Model easily.
Doc & Examples in the github repo.

https://github.com/akiyamaSM/nova-resource-maker

[2018-09-11 17:33] dillingham commented on #9
If this feature request, https://github.com/64robots/nova-row/issues/3, is accepted.. you'd be able to do that with this package

[2018-09-11 19:28] dillingham opened #35 "Nova Relationship Sum Field Package"

[2018-09-11 22:57] dillingham opened #36 "Nova Welcome Screen Package"

[2018-09-11 23:22] akiyamaSM commented on #36
Could you explain its use case precisely?
Where it should be showen? Every time or after the login?..

[2018-09-11 23:35] dillingham commented on #36
@akiyamaSM perhaps...

- custom card named Welcome
- almost purely aesthetic
- Card needs absolute positioning
- $content could be a view path or text
- Might store a cookie or session upon login
- Doesn't show if cookie or session var present
- Might require migration, `$user->welcomed = true`

`Welcome($content, $duration, $showCloseButton, $buttonText);`

Could also set cookie per resource, che

[2018-09-12 01:08] ibourgeois opened #37 "Passport API Generator"
A Nova package that can use Resources to generate an API with Passport.

- Should include a Tool for global management
- Should include a Resource Tool to enable and configure API settings per Resource

[2018-09-12 01:10] ibourgeois commented on #37
claim

[2018-09-12 01:19] ibourgeois commented on #37
URL for the repository: https://github.com/devoption/nova-api-generator

It is currently set to private, but I will make it public after I push what I have up later

[2018-09-12 16:27] crumb1e opened #38 "Nova Repeater Blocks"
A package that lets you add a new field on the create/edit page, and allows you to choose from a range of field types.

[2018-09-12 16:43] dillingham commented on #38
@crumb1e reminds me of the [Flexible Content](https://www.advancedcustomfields.com/resources/flexible-content/) field type of ACF
Would be cool for sure, there is https://github.com/64robots/nova-row for "repeating"

[2018-09-13 16:16] dillingham commented on #38
Also seems like this package may be related
https://github.com/64robots/nova-json/
The combo of displaying and capturing dynamic json generated fields and repeating them in the nova-row package. Only missing a dropdrown to select which field vs a “add row” button

[2018-09-13 16:32] davidpiesse opened #39 "Error Page Viewer"
For when you want easy access to all your pages/responses when you hit a 404/500/503 etc.

[2018-09-13 16:34] davidpiesse opened #40 "Gutenberg Editor"
Port the new WordPress Block Editor to Nova to replace Trix

[2018-09-13 16:35] davidpiesse opened #41 "XML Sitemap Generator"
Could use the Spatie package for the backend
https://github.com/spatie/laravel-sitemap

[2018-09-13 16:36] dillingham commented on #39
Related
- https://novapackages.com/packages/spatie/nova-tail-tool
- https://novapackages.com/packages/php-junior/nova-logs
- https://novapackages.com/packages/kabbouchi/nova-logs-tool

[2018-09-13 16:44] dillingham commented on #41
I don't see a sitemap being used externally for an admin tool
If it is regarding posts, that would relate to the app itself not nova

[2018-09-13 22:58] dillingham commented on #19
Haven’t tested but looks promising
https://novapackages.com/packages/epartment/nova-unique-ajax-field

[2018-09-14 07:23] unxsist commented on #19
@dillingham  I made that package based on your package idea, if you miss anything, let me know!

[2018-09-14 13:36] dillingham commented on #19
@unxsist awesome 😊 I think it’s well thought out. Allowing the choosing delay times and trigger events were a smart move.

My feedback is maybe removing the namespaces from the readme demos so it’s cleaner, maybe show it first without the editable options. You could show how simple it is, Unique::make(‘Email’); then in a second section maybe “Optional Configurations”.

Also maybe possibly Unique i

[2018-09-14 14:48] unxsist commented on #19
@dillingham Thanks for your pull request and for your feedback! Really appreciate it. I kinda like `Unique` more too, but thought it would be confusing compared to the default Nova validation rules. Since it's a new package, I will make the change this weekend 👍

[2018-09-14 14:57] dillingham commented on #19
@unxsist my pleasure, thanks for making this package! Excited to use it haha

Yeah I didnt think of that point, valid. I think it will be ok though

![unique](https://user-images.githubusercontent.com/29180903/45558051-f5ef0200-b80c-11e8-8bca-ea0398468869.PNG)

[2018-09-14 19:15] dillingham commented on #17
https://github.com/dillingham/nova-relative-dates

Currently working on this package

[2018-09-14 20:12] unxsist commented on #19
I've renamed the field based on your feedback. I have to agree, it's more clean :)

[2018-09-14 21:52] julianpoma opened #42 "Nova Field: HasManyThrough"
Add suport for HasManyThrough relationships in Nova.

https://laravel.com/docs/5.7/eloquent-relationships#has-many-through

Referencing to the example in the Laravel Docs, the idea is to be able to list the related `Posts` in the `Country Detail View`, like a normal HasMany relationship in Nova. Support for Create or Search is not needed IMO.

[2018-09-14 23:10] dillingham commented on #19
@unxsist wonderful! don't forget to compile :) `npm run prod` currently no dist folder

Also if on windows setting `mix.setPublicPath('dist')` prevents getting stuck at 95%

[2018-09-15 04:59] dillingham commented on #25
The url does most of the work for this one
Just need nova to let the api response dictate redirect

`/users/new?viaResource=accounts&viaResourceId=1&viaRelationship=users`

[2018-09-15 05:37] dillingham commented on #21
IN PROGRESS

![ba2acb2975974ebba87f7ebffb8b9806](https://user-images.githubusercontent.com/29180903/45583000-f7114500-b887-11e8-9297-c2865c61cef0.gif)

[2018-09-15 15:43] dillingham opened #43 "Nova Global Search Page Package"

[2018-09-15 16:39] dillingham commented on #10
Related request https://github.com/laravel/nova-issues/issues/211

[2018-09-15 16:39] dillingham commented on #26
Related request https://github.com/laravel/nova-issues/issues/211

[2018-09-16 06:53] dillingham opened #44 "Nova Action Index Field Package"

[2018-09-16 13:11] alexbowers commented on #44
I have found a way to make a modal open on the index page on an action. I'll publish how once I work out any kinks with it.

[2018-09-16 13:34] dillingham commented on #44
@alexbowers awesome!

Maybe also useful to add a method for adding conditional logic. Ie ->displayWhen $user->activated is false.

[2018-09-17 12:18] #28 closed, assigned to nobody

[2018-09-17 12:19] alexbowers commented on #34
I think any announced packages should be kept to novapackages.com, and any issues stemming from them be closed, to keep the issues list clean.

Thoughts?

[2018-09-17 12:19] #7 closed, assigned to nobody

[2018-09-17 12:31] mattstauffer commented on #34
@alexbowers I agree--that's why I originally closed it. I think that's wise. :)

[2018-09-17 12:31] #34 closed, assigned to nobody

[2018-09-17 16:55] patrickbrouwers commented on #12
Challenge accepted ;)

Will be added to https://github.com/Maatwebsite/Laravel-Nova-Excel after Laravel Excel 3.1 is finished and released.

Will contain all the goodies 3.1 will have (batch inserts, chunk-reading, queued etc.)

[2018-09-17 17:43] dillingham commented on #12
@patrickbrouwers 🚀 that would be huge!

I feel like importing and exporting are going to be fundamental to a lot of nova apps.

1. How would you imagine relationship associations going?
2. Do you envision a "import template" download, like export example
3. Would you use nova's [action log](https://nova.laravel.com/docs/1.0/actions/defining-actions.html#action-log) or make a Import resource to sto

[2018-09-18 01:21] samanthamichele7 commented on #27
![correct](https://media.giphy.com/media/GN27mINv3YjFm/giphy.gif)

[2018-09-18 01:44] #16 closed, assigned to nobody

[2018-09-18 01:57] willmkt commented on #5
Any updates on this package?

[2018-09-18 21:44] nkootstra opened #45 "Nova Mixcloud Field"
Just like the YouTube Field I want to create a Field for Mixcloud with a small preview on the index.

Will start developing it this friday :)

[2018-09-18 22:45] dillingham opened #46 "Nova Creator Field Package"

[2018-09-19 00:17] alexbowers commented on #46
This could probably be done as part of the BelongsTo with a macro.

This would work as `BelongsTo::make('User')->defaultTo(..)` and `BelongsTo::make('User')->defaultToMe()` or something.

This should be pretty easy to do

[2018-09-19 00:25] alexbowers commented on #33
I'll probably give this one a go at some point soon. Have some ideas about it already.

[2018-09-19 23:16] dillingham opened #47 "Nova Select or Create Package"

[2018-09-19 23:51] dillingham commented on #47
[code]

[code]

[2018-09-20 03:41] dillingham commented on #21
![its-a-good-idea](https://user-images.githubusercontent.com/29180903/45794529-2dbed500-bc65-11e8-9526-63112dc83230.png)

I made this package just have no idea how to recommend implementing it

[code]

I don't want to suggest users override the layout so early in development for this
Also can't add it to vendor/nova/partials/user because that's wrapped in a dropdown

Any suggestions?

[2018-09-20 03:43] dillingham commented on #22
@mattstauffer maybe we can have a "launched" label? :)

[2018-09-20 03:43] dillingham commented on #19
@mattstauffer also launched

[2018-09-20 03:46] dillingham commented on #16
@mattstauffer launched 🚀

[2018-09-20 06:45] dillingham opened #48 "Nova Breadcrumb Package"

[2018-09-20 12:31] #22 closed, assigned to nobody

[2018-09-20 12:32] #19 closed, assigned to nobody

[2018-09-20 16:00] beliolfa commented on #17
Just published this package

https://novapackages.com/packages/64robots/nova-date-filter

Hope it helps!

[2018-09-20 16:09] dillingham commented on #17
@disitec awesome 🚀 Great example of using custom components in the filter

Any plans to support updated_at or custom date columns?

[2018-09-20 16:17] disitec commented on #17
You can use this with every column in your table just apply the scope as usual

[2018-09-21 17:36] cloudstudio opened #49 "Resource Generator"
Hello ! i working in a new laravel nova package.

You choose one table, list all columns and generate all in some clicks, customizable labels, validations, relationships...

![captura de pantalla 2018-09-21 a las 19 35 39](https://user-images.githubusercontent.com/3589377/45896782-77c6c880-bdd5-11e8-9bba-4176fcc1a82d.png)

So you can create all basic resources in minutes, winning hours in each pro

[2018-09-22 21:22] michaelchunn opened #50 "Resource Filter Dropdown Reset Button"
When you have many filters on the index page for a resource it would be very nice to have a "reset" button on the filter dropdown to revert all filters to defaults or "-" (none selected).

[2018-09-22 21:26] michaelchunn commented on #50
package-idea

[2018-09-24 19:51] nkootstra commented on #45
**Update:**
Almost done. Only need to do a little bit more testing and add some validations.
<img width="1173" alt="screen shot 2018-09-24 at 21 45 09" src="https://user-images.githubusercontent.com/545768/45975217-e8731c80-c043-11e8-888a-be42ae11ede5.png">

[2018-09-24 20:37] cloudstudio commented on #49
I release this week !

![resource maker](https://user-images.githubusercontent.com/3589377/45977575-54588380-c04a-11e8-9b72-7f4122f0dba4.gif)

[2018-09-24 23:31] dillingham opened #51 "Nova Relationship Filter Package"

[2018-09-24 23:37] alexbowers commented on #51
I believe you can filter on a belongs to, but it comes as a dropdown.

Am i wrong about that?

[2018-09-24 23:39] dillingham commented on #51
Yeah @alexbowers it also can be done via https://novapackages.com/packages/titasgailius/search-relations

Not my best idea lol

[2018-09-24 23:39] #51 closed, assigned to nobody

[2018-09-25 14:01] beliolfa commented on #47
This has been added to NovaFields 0.2.0

https://github.com/64robots/nova-fields

![sept-25-2018 15-46-42](https://user-images.githubusercontent.com/12644599/46019290-0ab87900-c0dc-11e8-832e-c85b2b83bf86.gif)

[2018-09-25 15:36] dillingham commented on #47
@disitec darn, wish I could use it externally lol 😢

[2018-09-25 16:27] dillingham commented on #46
@alexbowers yeah. I was picturing it making a behind the scenes model event

Order resource > Creator::make('User')
Order::saving user_id = auth()->user()->id

Blog resource > Creator::make('Author')
Blog::saving author_id = auth()->user()->id

[2018-09-25 16:37] dillingham commented on #47
@disitec that looks great! Well executed 😄

[2018-09-25 16:37] dillingham commented on #47
Does it load the js / css for all other fields if I just want to use that one?

[2018-09-25 16:50] disitec commented on #47
The provider loads js for all the suite

[2018-09-25 17:05] dillingham commented on #47
@disitec ok so this isnt a good package to use if you just want one of your fields

[2018-09-25 17:32] dillingham commented on #47
Except I want to use nova's fields not your package. Just one of the fields

Maybe Ill just copy your code and release it standalone lol
And not force people to adopt your adaptation of a official Laravel product

[2018-09-25 17:37] disitec commented on #47
We are not forcing to anything. Just trying to help. Why not making a pr and improving it? We could use another constructive language. Just wanted to use all te custom classes implementation. If we release it as separate project nova fields would also be a dependency. I thing the cost is minimal but we are here to hear your thoughts.

[2018-09-25 17:41] dillingham commented on #47
I **strongly** disagree with replacing all nova fields with yours.
I unfortunately don't get to use your **awesome** features because of it.

[2018-09-25 18:53] nkootstra commented on #45
Done. https://novapackages.com/packages/nkootstra/nova-mixcloud-field

[2018-09-25 19:00] #45 closed, assigned to nobody

[2018-09-25 19:16] dillingham commented on #50
@michaelchunn I think that's a great idea! No one has made that suggestion on [nova-issues](https://github.com/laravel/nova-issues/issues?q=is%3Aissue+is%3Aopen+label%3Arequest)
Might be a good request for a core feature 😄  Thoughts?

[2018-09-25 19:21] #17 closed, assigned to nobody

[2018-09-25 19:21] #47 closed, assigned to nobody

[2018-09-25 19:24] #11 closed, assigned to nobody

[2018-09-25 19:39] dillingham commented on #42
Related https://github.com/laravel/nova-issues/issues/585

[2018-09-25 23:15] dillingham commented on #37
@ibourgeois just a heads up, this was just released

https://novapackages.com/packages/kristories/novassport

[2018-09-26 00:27] ibourgeois commented on #37
thanks for the heads up! I will take a look and if it makes sense to do so create a PR on their repo to add this functionality. That being said, I am curious how/if they managed to solve the issues regarding passport authentication with both the users API as well as nova-api. I managed to get one or the other pretty easily but combining them required a ton of manual changes to install.

[2018-09-26 00:33] ibourgeois commented on #37
Oh wow. this is just a tool to manage Passport. Not at all what I am working on. I am working on direct API access from your application to Nova resources. What I have allows you to create your models, Nova resources and migrations... then develop your front end without the need for a controller unless you need the added complexity...

[2018-09-26 00:42] dillingham commented on #37
@ibourgeois oh ok! I saw passport and skimmed. I assumed api authentication management
I see what you're saying, so its to build your app spa style? Not offer an external api?
Sorry for the mix up haha

[2018-09-26 11:01] beliolfa opened #52 "How to handle Nova dependencies"
Ey package makers here. Have a question
How do you handle nova dependencies that are not published on npm?
I mean, reusable components that you could import from core instead of copying it (and exposing it in public repos)
I would like to use some extracts of code that are perfectly fine in nova core in my plugin
but I find my self copying them over
I feel weird doing that
I was thinking on symlin

[2018-09-26 11:46] beliolfa commented on #8
In my case. The build size using the destructuring option is `152K` and the other one `177K`. Do you know why?

[code]

[2018-09-27 16:45] dillingham opened #53 "Nova Filter Multiple Package"

[2018-09-27 18:29] Kristories commented on #21
Awesome idea. You can use `artisan nova:asset` and use JavaScript to add :heavy_plus_sign: menu before user menu.

It would be nice if users could display their resource menu.

[2018-09-27 18:45] Kristories commented on #37
@ibourgeois I am curious about this idea. What's on my mind (and what I'm looking for) is 3rd party API can be consumed by resource (index, show, edit, delete). If the resource manages the database, this package manages the API.

By the way, thank you for mentioning my project @dillingham.

[2018-09-27 18:47] dillingham commented on #21
@Kristories thanks! And thanks for the idea, I see how to finish this now :)

[2018-09-27 18:57] Kristories commented on #31
Good idea.  Clue :

[code]

[2018-09-28 19:09] chescos opened #54 "Nova Relationship Selector"
Instead of automatically loading all relationship tables on the details view, relationship names are added to a select menu that enables easy and fast navigation with loading on demand.

Relationships are not automatically loaded when the details view is loaded. Instead, a relationship is only loaded when it is selected through the select menu. Only the currently selected relationship table is dis

[2018-09-28 19:24] dillingham commented on #54
Nice idea! Would need to a table beneath the details as a separate field component

![related](https://user-images.githubusercontent.com/29180903/46229081-549a9c80-c332-11e8-9df8-1d61545471e3.png)

[code]

on dropdown change event change a dynamic component

[code]

[2018-09-28 19:37] chescos commented on #54
@dillingham yes, that's exactly what I mean!

[2018-10-01 14:49] MarceauKa commented on #31
This is my solution.

On my Nova resource:
[code]

[2018-10-01 14:51] MarceauKa commented on #46
This is my solution.

For example, my Post model belongs to an User model via `user_id`:
[code]

[2018-10-02 16:41] dillingham commented on #50
There is mention of including this in core, closing for that reason.

[2018-10-02 16:41] #50 closed, assigned to nobody

[2018-10-05 11:26] cloudstudio commented on #49
Done ! enjoy it @mattstauffer

https://github.com/cloudstudio/resource-generator

[2018-10-08 14:33] #49 closed, assigned to nobody

[2018-10-16 09:39] bbrala opened #55 "DISTINCT options for metrics"
I wonder, would there be any interest in an extension to the metrics that would allow for configuring of what distinct column should be counted?

So for example, if we have comments on blogs, have a metric which would show distinct users who commented on blogs as a Value/Trend metric.

I ran into this while building a little dashboard, and it seems easy enough to clean up and package.

[2018-10-17 02:30] phoenixg opened #56 "Nova Filter Quick Box"
![image](https://user-images.githubusercontent.com/990040/47058441-a3cc4280-d1f7-11e8-9159-81358df59404.png)

[2018-10-17 02:32] dillingham commented on #56
Can you include details / explanation?

[2018-10-17 05:34] JILeXanDR opened #57 "Laravel Echo Server tools"
https://github.com/tlaverdure/laravel-echo-server

[2018-10-17 07:38] phoenixg commented on #56
@dillingham The default filter is implemented as a select box, I want to display at the top of the result list, and display as multiple select boxes equivalent to every field of the model.

[2018-10-17 16:05] bernhardh commented on #48
Any news from this? Especially if you use the tab package, you will get lost very easy. For example:

![image](https://user-images.githubusercontent.com/642292/47100120-16104780-d237-11e8-8459-b1e8973105aa.png)

Which article do I edit right now? Nobody knows, since the information is only available in the first tab "Allgemeines".

[2018-10-17 17:19] dillingham commented on #48
Not sure I see the relationship between tabs and breadcrumbs

This package is not in production

Feel free to build it though :)

[2018-10-17 18:23] bernhardh commented on #48
The relationship would be, that I don't see where I am, when not on the "main" tab, because only on main tab you would see the title/name of the article. If there would be a breadcrumb in the way you suggested, I would see "Home > Articles > $title > Edit" ("Home > Articles > My cool Article > Edit") and I would know on every tab, which article I am editing right know.

If I find out, how to do it

[2018-10-17 18:31] dillingham commented on #48
Ah I see what you mean, well there is CustomToolbar vue components that can be overridden

https://github.com/laravel/nova-issues/issues/786#issuecomment-427952057

[2018-10-17 18:35] bernhardh commented on #48
I known, there is `custom-index-toolbar` and `custom-detail-toolbar`, but no `custom-edit-toolbar`, so that will not work ;)

[2018-10-17 19:49] dillingham commented on #48
there's a header one too 🤷‍♂️

[2018-10-18 22:27] ovvessem commented on #29
Really like the idea of creating the parent and child in one page!

[2018-10-19 07:55] bernhardh commented on #48
what does this mean?

[2018-11-04 23:12] dstollie commented on #40
The author of this repo already made Gutenberg working outside the WordPress context https://github.com/youknowriad/standalone-gutenberg

[2018-11-05 09:57] alcis-dev commented on #40
Amazing!!!
Right... ... now to find the time to implement!

[2018-11-05 09:59] davidpiesse commented on #40
Very cool - Now to find time to implement it!

[2018-11-06 16:33] dillingham commented on #56
@phoenixg here is the package you've described

https://novapackages.com/packages/philperusse/nova-column-filter

May not be the same layout, but is accomplished

[2018-11-06 16:33] #56 closed, assigned to nobody

[2018-11-07 02:24] phoenixg commented on #56
@dillingham Yeah I've noticed that, but it still needs me to click the right icon and pop out some options,
I just want to display directly above the resource table.

[2018-11-08 03:34] dillingham commented on #15
https://github.com/jackabox/nova-duplicate-field

[2018-11-08 03:34] #15 closed, assigned to nobody

[2018-11-09 12:16] voidgraphics commented on #29
Yessssssssss we need this

[2018-11-10 14:10] niladam commented on #12
@patrickbrouwers any news on this -- since 3.1 has been released ? It'd be great to have this ability in your nova package :)

[2018-11-10 16:42] patrickbrouwers commented on #12
Haven’t gotten around to it. But we need it for a future project, so might come soon

[2018-11-10 20:39] niladam commented on #12
@patrickbrouwers I'm really looking forward to this!:D

[2018-11-10 23:23] dillingham commented on #56
Im aware it isn't identical to what you want.
But filters in Nova are in the filters menu.

[2018-11-11 01:52] phoenixg commented on #56
@dillingham Yeah, I think it may should be supported by Nova itself

[2018-11-13 21:48] DianaR19 commented on #44
What package is it?

[2018-11-15 03:57] nsaumini commented on #31
Just for fun & learning I have built the package. https://novapackages.com/packages/saumini/count

[2018-11-15 10:42] nsaumini commented on #20
@vootrunner I have created a nova package called [ellipsis-textarea](https://novapackages.com/packages/saumini/ellipsis-textarea) which you can used to display n no. of characters in index view. No change in detail view.

[2018-11-15 16:07] vootrunner commented on #20
Fantastic! Thanks!

[2018-11-15 16:07] #20 closed, assigned to nobody

[2018-11-26 17:54] Gaia-Nutrition commented on #44
@alexbowers Could you share how you managed to open the Modal?
The problem I currently face is the fact that the `<action-selector>` components (which I could overwrite) only mounts if one or more resources are selected.
I was trying to overwrite the `<action-selector>` component and use `Nova.$on()` to listen for global events triggered from inside a custom field...

[2018-11-26 20:07] alexbowers commented on #44
Sure @Gaia-Nutrition @dillingham

This was a work in progress that I haven't touched in a while, but I assume that the fundamentals still are there for it to work.

In an `IndexField.vue` file, I have something like the following:

[code]

And in a `PhoneCallModal.vue` file I have

[code]

You'll notice the `@/components/Modal` line, this refers to a component built into Nova JS.

To get it to wor

[2018-11-27 08:08] nasrulhazim commented on #48
Is it possible to have https://github.com/davejamesmiller/laravel-breadcrumbs to be implement in Nova? try to use in Nova, but no luck at the moment.

[code]

This is so far how I configure, but no luck display the breadcrumb correctly, Nova rely on VueJS. So I'm not really sure how to implement in VueJs from Laravel Breadcrumb package.

[2018-12-01 14:15] fabiobettiol opened #58 "Trend Cards with Chartjs"
-

[2018-12-01 14:25] fabiobettiol commented on #58
Implement Charjs graphics into a Trend-type card

[2018-12-07 10:10] charlielangridge opened #59 "Nova Spatie Valuestore Package [package-idea]"
A package to allow viewing and editing of data from Spatie's Valuestore package

[2018-12-08 18:16] aarondfrancis opened #60 "Read-Only Fields [package-idea]"
https://github.com/laravel/nova-issues/issues/19

[2018-12-09 01:12] alexbowers commented on #60
There is a PR upstream for this.

[2018-12-09 17:23] chris-ware commented on #48
Fellow developers, I give to you Breadcrumbs:
https://packagist.org/packages/chris-ware/nova-breadcrumbs

[2018-12-13 16:45] #48 closed, assigned to nobody

[2018-12-22 18:13] m2de commented on #38
We have a working implementation for this now but the documentation needs to be improved and we want to spend some more time on boilerplate stuff, but the repo is here for anyone who wants to follow progress. https://github.com/dewsign/nova-repeater-blocks

[2018-12-26 05:13] dillingham commented on #54
https://github.com/eminiarts/nova-tabs

[2018-12-26 21:42] Otienoh opened #61 "Nova Charting Package"
### About Issue
Nova provides metrics which is good enough for metrics we have now (except the bar metrics which looks not pleasing) but the challenge is using that as the main charting solution as is makes it hard for us to give more detail and context to the charts. We need to find a way to customize the metric to add more properties eg titles, Legends, X & Y axis, different types of charts scat

[2018-12-27 11:29] bajramemini commented on #54
Hello

https://github.com/eminiarts/nova-relationship-selector

As discussed with @dillingham in our tabs-package, I extracted it to its own package.

Still needs a bit of styling, but the functionality is there.

Regards
Bajram

[2018-12-27 12:48] chescos commented on #54
@bajramemini thank you so much for putting that together, just tried it out and it works great! My `User` model has 27 relationships and finally, I can add them to my `User` Nova resource.

@dillingham thank you too for communicating with him to make this happen :)

[2018-12-28 15:58] dillingham commented on #54
@bajramemini thanks again for contributing such a useful package!

@chescos no problem :)

[2018-12-28 15:58] #54 closed, assigned to nobody

[2018-12-29 16:54] dillingham commented on #60
https://github.com/laravel/nova-issues/issues/19#issuecomment-425206317

[2018-12-29 16:54] #60 closed, assigned to nobody

[2018-12-29 17:02] dillingham commented on #59
https://novapackages.com/packages/cendekia/nova-setting-tool
https://novapackages.com/packages/ofcold/nova-configurations-field
https://novapackages.com/packages/hnassr/nova-key-value

[2018-12-29 17:02] #59 closed, assigned to nobody

[2018-12-29 17:05] dillingham commented on #53
https://nova.laravel.com/docs/1.0/filters/defining-filters.html#boolean-filters

[2018-12-29 17:05] #53 closed, assigned to nobody

[2018-12-29 17:10] dillingham commented on #37
abandoned

[2018-12-29 17:10] #37 closed, assigned to nobody

[2018-12-29 17:11] #31 closed, assigned to nobody

[2018-12-29 17:12] dillingham commented on #5
abandoned

[2018-12-29 17:12] #5 closed, assigned to nobody

[2018-12-29 17:13] #9 closed, assigned to nobody

[2018-12-29 17:13] #3 closed, assigned to nobody

[2018-12-29 17:16] dillingham commented on #39
https://novapackages.com/packages/mad-web/nova-telescope-link

[2018-12-29 17:16] #39 closed, assigned to nobody

[2018-12-29 17:17] dillingham commented on #41
@davidpiesse what exactly would the sitemap be for? Nova resources?

[2018-12-29 17:18] #36 closed, assigned to nobody

[2018-12-29 17:18] #35 closed, assigned to nobody

[2018-12-29 17:19] #57 closed, assigned to nobody

[2018-12-29 17:20] #24 closed, assigned to nobody

[2018-12-29 17:21] #55 closed, assigned to nobody

[2018-12-29 17:21] #58 closed, assigned to nobody

[2018-12-29 17:22] #8 closed, assigned to nobody

[2018-12-29 17:22] #18 closed, assigned to nobody

[2018-12-29 17:25] dillingham commented on #29
https://novapackages.com/packages/yassi/nova-nested-form
Would work for this purpose considering some style differences

[2018-12-29 17:25] #29 closed, assigned to nobody

[2018-12-29 17:28] dillingham commented on #38
https://github.com/dewsign/nova-repeater-blocks
https://novapackages.com/packages/fourstacks/nova-repeatable-fields
https://novapackages.com/packages/guillaumeferron/post-content

[2018-12-29 17:28] #38 closed, assigned to nobody

[2018-12-29 17:30] #46 closed, assigned to nobody

[2018-12-29 17:30] #32 closed, assigned to nobody

[2018-12-29 17:31] #41 closed, assigned to nobody

[2018-12-29 17:51] aarondfrancis commented on #60
@dillingham You've just pointed me to the same issue that I referenced when opening this issue. 🤔

[2018-12-29 17:53] dillingham commented on #60
read only fields exist now

[2018-12-29 21:59] fabiobettiol commented on #61
Looking forward for it!

[2018-12-30 13:14] Dontorpedo opened #62 "Resource Index Inline Editing"
A feature to make the ressource editable inline would be supercool..

like fieldoption ->editableOnIndex() or something..

some columns need to be editet quickly, opening, editing and saving is a bit waste of time if one wants to edit several ressources..

[2018-12-30 18:53] dillingham opened #63 "Nova Form Tool Package"

[2018-12-30 20:08] dillingham commented on #63
[code]

[2018-12-30 20:19] dillingham commented on #63
Some how registering this dynamically & allowing other package developers to do the same 🔥

[2019-01-02 13:18] voidfire commented on #47
I'd like to incorporate the same functionality for BelongsToMany fields @disitec

[2019-01-09 09:10] cliffordjames opened #64 "[package-idea] Select field with Ajax request based on value of other field"
Background info:

I'm building an application for managing networks, devices, ips etc.

When a user adds a new IP to a device, he needs to select a network first, then an ajax request needs to be made to fetch all available IPs in that network.

What I'm aiming for is something like this:

[code]

[2019-01-12 17:12] dillingham commented on #62
A little animated inspiration
![inspiration](https://user-images.githubusercontent.com/29180903/51076199-42cfd180-1663-11e9-8fc5-d3a5a60bbf10.gif)

[2019-01-12 17:18] dillingham commented on #62
![update](https://user-images.githubusercontent.com/29180903/51076258-2f713600-1664-11e9-9026-49ee5308b585.png)

[2019-01-16 17:29] Dontorpedo commented on #62
i managed to make a inlineedit field but it works not very well XD

i tried to reuse the nova update routes, but when a field in the resource is set as required the update doesnt work..

it doesnt work either if there is relationship..

it doenst work with select and datefields.. and i lack of exprience to make it better.. :/

[2019-01-16 17:44] dillingham commented on #62
@Dontorpedo maybe post the code in a gist and share and others can contribute thoughts, feedback, revisions etc. kudos for getting somewhere with it :)

[2019-01-16 18:16] Dontorpedo commented on #62
ok, so its here..

https://gist.github.com/Dontorpedo/b77ba72fcf51a4e763c076a24d54dc8e

i used the click-outside directive.. so the field is updated on a click outside the field..

[2019-01-16 22:53] dillingham commented on #62
@Dontorpedo I think that looks good.

For a package, you could just make macros each time you figure out a component.

[code]
[code]

Would have to figure out validation though
Relationships could be down the road

[2019-01-20 13:34] metrixinfo opened #65 "Language File Editor/Manager"
A Nova Tool that would allow you to edit language files.

Have an "Import" action, that would import all the current language files into the DB.
Allow the user to edit the content in the database.
Have a "Publish" action that writes the files back to disk.

Reporting: Keys that are missing in language files.

[2019-01-20 14:18] metrixinfo commented on #65
Spoke too soon:
https://github.com/joedixon/laravel-translation
https://github.com/joedixon/nova-translation

[2019-01-20 14:18] #65 closed, assigned to nobody

[2019-01-21 13:20] PhilippeDirx commented on #62
Will this be made into a package on https://novapackages.com/ ?
I need dis 👍

[2019-01-26 08:54] Dontorpedo commented on #62
@dillingham

thanks for suggestions, will work on it soon

@PhilippeDirx

hi, yes but i think not very soon

[2019-01-29 09:23] cord commented on #61
https://github.com/ankane/vue-chartkick looks like a good start

[2019-01-30 21:41] avs262 opened #66 "Multiple panels"
The ability to create multiple panels with specified widths on index, create, edit views.

Related to https://github.com/laravel/nova-issues/issues/29

[2019-01-30 21:51] dillingham commented on #66
That, aside from widths, is coming soon in core

[2019-01-31 15:02] #66 closed, assigned to nobody

[2019-02-02 22:18] bahdcoder commented on #30
This looks like something really interesting.

Challenge accepted.

cc @mattstauffer @dillingham . would love to reach out from time to time for more ideas for implementation. Thanks.

[2019-02-03 00:08] alexbowers commented on #30
http://php.net/manual/en/book.geoip.php may be useful i part of this (depending how it works)

[2019-02-06 00:10] bradydan commented on #62
Following 👍

[2019-02-06 00:12] bradydan commented on #21
Following 👍

[2019-02-06 18:52] toonvandenbos commented on #63
Hi @dillingham, I think we just published something similar to your request. Have a look at [Nova Page](https://novapackages.com/packages/whitecube/nova-page) ;)

Feel free to request features or updates on our [repository](https://github.com/whitecube/nova-page). It's still a work in progress, but some of our websites are already running on it.

[2019-02-09 16:04] dillingham opened #67 "Nova Package for Vue Filepond"

[2019-02-11 01:53] dillingham commented on #64
@cliffordjames done 🚀 https://github.com/dillingham/nova-ajax-select

[2019-02-11 01:56] #64 closed, assigned to nobody

[2019-02-11 01:56] #67 closed, assigned to nobody

[2019-02-15 13:59] ehben83 commented on #60
But it's only working on certain types of fields 😢 (Text, TextArea)

[2019-02-15 14:13] dillingham commented on #60
@ehben83 if you're only concern is that they see the value, why does it need to be a select box for example?

[2019-02-15 14:59] ehben83 commented on #60
Well the use case is the following :

1. I create a Post with a Date field
2. Then, another User can update that Post but shouldn't be allowed to update that Date field (read-only on update and ideally only for him)

How would you manage that?

[2019-02-15 15:08] dillingham commented on #60
@ehben83 I would use authorization 👍
[code]

The first field to display the value regardless of auth user

[2019-02-17 18:06] Yelles commented on #62
would love that too !!! 👍

[2019-03-16 02:05] foreachphp opened #68 "Saved Passwords Fields"
@package-idea
#package-idea

There should be a package where you can input passwords, where it stores the passwords encrypted into the database and where the user can view their passwords when clicked on the eye button next to the ******

So basically something like LastPass.com

[2019-03-16 04:01] dillingham commented on #68
There is a Password::make('Password') field for general use cases

However, you can't reveal the password to a user because that would require storing it in plain text which is a huge no no.

[2019-03-16 04:01] #68 closed, assigned to nobody

[2019-03-16 09:38] Jeroenvanderholst commented on #12
@patrickbrouwers , I really like this idea. Have you had time yet?

[2019-03-16 11:22] patrickbrouwers commented on #12
Not yet. If it’s of importance to someone we can prioritize it; see laravel-excel.com for the options.

[2019-03-16 19:33] foreachphp commented on #68
What about if I would like to make a app for myself that stores the passwords I have, since I can't trust 3rd parties or don't like saving it in notepads.

Can't we crypt an input, decrypt if a button is clicked?

[2019-03-16 20:23] dillingham commented on #68
this sounds like a personal issue 👍

[2019-03-27 18:05] anderly commented on #63
I'm thinking of something like `ActionForm` which would basically support routing to a new screen to render an Action's fields, etc. This could be used to integrate with external reporting tools like Crystal Reports, SSRS, etc. or for sending to a 3rd-party service, etc.

The new form is necessary because there could be a large number of fields needed as parameters.

I'm going to take a stab at th

[2019-04-04 12:51] cord opened #69 "Nova EAV Attributes"
Package that allows to administrate EAV attributes and edit attribute values through Nova.

This allows to easily have custom attributes added to any model and edit the values within the resources.

Based on
https://github.com/rinvex/laravel-attributes

I have a running implementation which supports sorting and translatable attributes.

If you are interested to finalise this into a package, please

[2019-04-04 18:26] thiskbj opened #70 "Sort by computed field"
Package idea: I'd love to be able to sort by computed field. Right now I'm just adding the field as a regular field, and periodically double-checking it (ew :). Anyone have a smarter idea?

[2019-04-04 18:38] mattstauffer commented on #70
https://github.com/laravel/nova-issues/issues/85

So, there are SOME things you can do, as you can see in that issue above. But one of the authors of Nova, David Hemphill, also said it's going to be tough to do it without breaking pagination--probably because it's using MySQL-based sort and you can't do that with a PHP-computed property.

With your periodically double-checking option, if you get s

[2019-04-04 18:42] thiskbj commented on #70
Yep, that's what I mean. It would be nice to have the option to sort via Vue, for the models that's appropriate for. Then it would be doable! I don't have a good sense of how much data js can deal with, but I've done it by hand (not Nova) for projects with the amount of data in my use case, and it's a perfect solution.

[2019-04-12 16:15] icehouze commented on #69
I'd be very interested in a package like this. I'm currently planning to implement rivenex/laravel-attributes and was concerned about getting it all to play nice in Nova.

While I can't be of any help in putting together a package (simply not experienced enough), I would love to see code samples if you're willing to share.

[2019-04-12 23:14] markrassamni commented on #62
@Dontorpedo Could you add an option for inline boolean toggling as well?

[2019-04-12 23:19] dillingham commented on #62
https://novapackages.com/packages/kirschbaum-development/nova-inline-select

https://novapackages.com/packages/wehaa/inline-field-update

[2019-04-12 23:19] #62 closed, assigned to nobody

[2019-04-18 11:00] cord commented on #69
let me outline the solution, which will give you sortable, translatable attributes you can add to any Model/Resource in Nova:

install and configure https://github.com/rinvex/laravel-attributes

Migration to add column `id` to `attribute_entity` Table
[code]

make a wrapper models for nova compatibility:

Attribute.php

[code]
AttributeEntity.php
[code]

Resources:

Nova/Attribute.php

[code]

Nov

[2019-04-18 23:56] dillingham opened #71 "Nova Form Card Package"

[2019-04-20 17:25] dillingham commented on #10
https://novapackages.com/packages/coreproc/nova-notification-feed

[2019-04-20 17:25] #10 closed, assigned to nobody

[2019-04-20 17:28] dillingham commented on #12
I might release my import code soon 👍

[2019-04-22 16:08] simonhamp commented on #12
I've been working on [a little something](https://novapackages.com/packages/simonhamp/laravel-nova-csv-import)

[2019-04-22 16:21] dillingham commented on #12
@simonhamp that looks perfect

[2019-04-22 16:44] niladam commented on #12
@simonhamp whoa, nice one!:)

[2019-04-22 21:19] maherelgamil commented on #12
@simonhamp Awesome :)

[2019-04-24 05:27] dillingham opened #72 "resource tool card display"

[2019-04-24 12:42] devilstars opened #73 "Nested Set support"
Package that renders a resource tree and allows the use of nova fields, panel display, index view, etc. Also you should be able to drag&drop resources like you do it in Nova Menu Builder package.

Suggested package is - https://github.com/lazychaser/laravel-nestedset

[2019-04-26 08:22] 4n70w4 commented on #42
Any news?

[2019-04-26 14:35] coccoinomane commented on #40
Amazing idea!

I’d suggest having a look at the Laraberg project, which provides APIs to use Gutenberg in Laravel:

*  https://github.com/VanOns/laraberg/

The Laraberg project has been featured on both WordPress Tavern and Laravel News:

* https://wptavern.com/laraberg-a-gutenberg-implementation-for-laravel-is-now-in-beta
* https://laravel-news.com/laraberg-editor

Cheers,
Guido

[2019-04-28 08:18] Log1x opened #74 "Collection Sections"
Not sure what to name this (as columns/grid will be misleading)– but mainly I'd love to see a package that lets you put fields into separate sections.

An example of this would be the [Nova Blog Tool](https://novapackages.com/packages/digitalcloud/nova-blog-tool) which has this functionality seemingly hardcoded.

![Screenshot](https://user-images.githubusercontent.com/41853913/50156770-49735f00-02

[2019-05-04 14:01] tomthetux opened #75 "id encryption"
Package that will crypt the ids in the url with hashids or something similar.

[2019-05-22 19:43] mikebronner commented on #40
Hi everyone, I have started a Laravel package here: https://github.com/GeneaLabs/nova-gutenberg

It is currently functional, would welcome any feedback you might have.

[2019-06-03 18:45] Qoraiche commented on #69
@cord sounds great!

[2019-06-08 07:59] shineirvin commented on #62
@Dontorpedo Could you please add an option for inline boolean toggling ? it would be really helpful.

[2019-06-11 23:37] markrassamni commented on #62
@shineirvin I just released a package for inline boolean toggling found [here.](https://github.com/markrassamni/inline-boolean)

[2019-06-18 18:55] Pamposgsk commented on #42
Any update on hasmanythrough relationship?

[2019-06-23 05:22] Otienoh commented on #61
Closing this because good options are available

1. https://novapackages.com/packages/kirschbaum-development/nova-chartjs
2. https://novapackages.com/packages/charts/nova-line-chart
3. https://novapackages.com/packages/cloudstudio/card-extended -  Can be used as well

[2019-06-23 05:22] #61 closed, assigned to nobody

[2019-07-01 12:40] YannikFirre opened #76 "Nova Form Ressource Tool"
The same request as #63 but for ressource.

Render a form like **edit** but with a who has custom title, button, fields.

Example : Send a custom notification with custom field link to a particular ressource.

[2019-07-02 07:15] dineshbabu03 commented on #29
Hello Julian,

Could please explain me how to create the invoice form design like in the above. Thanks

[2019-07-03 03:07] aj-adl commented on #42
Official word has gone from "Coming soon" to "Nope" - see https://github.com/laravel/nova-issues/issues/1683

So this will have to be developed as a package if people want it to exist

[2019-07-06 10:15] #71 closed, assigned to nobody

[2019-07-06 10:15] #72 closed, assigned to nobody

[2019-07-06 10:18] #63 closed, assigned to nobody

[2019-07-08 05:58] PrafullaKumarSahu opened #77 "Field allows to search and select while tying or allow to insert"
Is there any package, that allows to "search and select" or "insert" to field?

Consider a `tag` and when you are creating a `post`, you may choose an existing one or add a new one, just like stackoverflow, is there any existing package or anyone is working on something like this and can give some idea on it?

[2019-07-08 06:06] PrafullaKumarSahu commented on #47
@dillingham any basic example for this?

[2019-07-08 08:29] PrafullaKumarSahu commented on #77
I used [nova-text-auto-complete ](https://github.com/gkermer/nova-text-auto-complete) and model event listener to get the job done.

[2019-07-08 08:29] #77 closed, assigned to nobody

[2019-07-08 08:46] PrafullaKumarSahu commented on #35
@dillingham  is there any field/package or any way for this, that will set the value of total after making a calculation may be a sum, multiplication, custom mathematical expression or eloquent methods?

[2019-07-08 16:41] dillingham commented on #35
@PrafullaKumarSahu You can do some stuff with laravel accessors and use $appends = [‘accessorName’] on your model to insure it’s accessible to nova and output the generated property as a text field

[2019-07-09 06:12] PrafullaKumarSahu commented on #35
@dillingham that will only work to display, I am asking about something like, you have three fields price, quantity, and total as soon as you are making changes to price field or quantity field, it should reflect on total and you can submit all three fields,  is there any field/package like that?

[2019-07-09 14:25] dillingham commented on #35
@PrafullaKumarSahu

You would use observers / resource events
https://nova.laravel.com/docs/1.0/resources/#resource-events

Save the value when saving not displaying

Good luck!

[2019-07-10 06:19] PrafullaKumarSahu commented on #35
@dillingham thank you.

[2019-07-16 09:20] PrafullaKumarSahu opened #78 "Create a Custom field set value based on another field and still editable"
laravel 5.8
Nova 2.0.0

I have two field based on first field I want to set the value of second and it is upto the user to use the set value or may insert a new one and submit the form.

I am adding custom field like

    CustomField::make('Field 2', 'field_2')->dependsOn('field_1'),

Now in `CustomField` class `dependsOn()` method I can access, the dependsOn field name, that is `field_1`, also in

[2019-07-22 05:58] chrispage1 commented on #63
Hey @dillingham, did you get a solution to this?

I'm interested to use for a bulk import tool.

[2019-07-24 08:17] YannikFirre commented on #76
Any idea how can i do that ?

[2019-07-25 14:06] LorenzoSapora opened #79 "Quick look option for resources"
I envision this being most useful for quick-look for user profiles, but obviously could be applied to any/all resources. Button could be placed next to view/edit/delete (although iconography might have to be changed) and instead of routing, a modal would appear, with an expanded selection of information not found on index.

[2019-07-25 14:07] LorenzoSapora commented on #79
Could an admin please tag this with the package-idea label, I don't seem to have permissions to do that.

[2019-07-30 20:25] wemersonrv commented on #44
Please add actions support!

[2019-07-30 21:11] dillingham commented on #44
@wemersonrv I could say the same to you :)

[2019-08-07 17:37] #44 closed, assigned to nobody

[2019-08-07 17:37] #43 closed, assigned to nobody

[2019-08-07 17:38] #33 closed, assigned to nobody

[2019-08-07 17:38] #30 closed, assigned to nobody

[2019-08-07 17:38] #26 closed, assigned to nobody

[2019-08-07 17:38] #25 closed, assigned to nobody

[2019-08-07 17:38] #21 closed, assigned to nobody

[2019-08-07 17:38] #14 closed, assigned to nobody

[2019-08-07 17:39] #13 closed, assigned to nobody

[2019-08-07 17:39] #12 closed, assigned to nobody

[2019-09-14 01:05] sabid commented on #79
Look this

https://element.eleme.io/#/en-US/component/drawer

[2019-09-14 01:08] LorenzoSapora commented on #79
Interesting, thanks for the link.

[2019-09-17 18:25] SunnyDayGuide commented on #69
I am just getting back to this in my project. Thank you so much!

[2019-10-18 23:38] tvoitik opened #80 "Clone Feature Package Idea"
It would be great if there was a Nova package that added a "clone" button to the index table of a resource for each item.  When this button is pressed it would redirect to the create page but pre-populate all the fields from the item we are cloning.

[2019-12-12 02:39] scaventum commented on #48
Great package!

Is it possible to make breadcrumb run through relationship using this package? e.g. 1 character has many stories:

therefore the breadcrumb will be `home \ characters \ character-01 \ story-01 \ ...` or something similar

[2019-12-25 13:00] ngtranthanhtoan commented on #80
I think Actions can do it.

[2020-02-09 11:34] tpetry commented on #70
Why not extend nova resource sorting by the ability to define raw sql order by criteria? Like this:
[code]

You would (as before) define a closure for php on how to render the information and define a database operation which will sort the rows the same like you did with your render function. This string could be simply be used with eloquents `orderByRaw` operation.

It's the only way it could wor

[2020-04-01 05:20] flakerimi commented on #69
This package would help people a lot if it was made. @cord did you abandon it?

[2020-04-01 13:38] cord commented on #69
The given code still works here, hope someone can pick it up and make a package from it?

[2020-04-02 03:32] flakerimi commented on #69
Yeap, just used it, its awesome. I misread, I thought you are going to make it :) maybe I will now.

[2020-04-02 09:43] cord commented on #69
@flakerimi would be great - am happy to contribute!

[2020-04-05 04:31] flakerimi commented on #69
@cord  I found this one : https://github.com/sunel/eav
More completed than rinvex and very active, I will try it to make it work with this one first then try to convert it as package.

[2020-05-26 02:07] amidesfahani opened #81 "Nova Toggle Field"
I'd love to be able to toggle/switch a field from index or details and form view.

[2020-09-29 23:12] vesper8 commented on #81
https://github.com/markrassamni/inline-boolean

[2020-09-30 12:10] vesper8 opened #82 "Grid view"
It would be very cool if it was possible to display resources as a grid. There are multiple "nova grid" packages but they all seem to just allow you to define grid systems per single record.. so records are still rows (1 per line) but with the ability to define a grid within.

What I would like to see is a means of displaying your resources 4x4 for example. Of course this would mostly only work fo

[2020-10-08 18:37] #76 closed, assigned to nobody

[2020-10-24 17:35] davidhemphill commented on #42
https://github.com/laravel/nova/pull/1028

[2020-10-26 01:06] #42 closed, assigned to nobody

[2020-12-09 05:00] PHPJunior commented on #79
I have started a laravel package here : [Nova Quick View](https://github.com/PHPJunior/nova-quick-view)

[2020-12-09 09:21] LorenzoSapora commented on #79
@PHPJunior Nice, I look forward to seeing how this turns out 👍

[2021-05-18 13:59] leonakao commented on #78
You can try create the follow method in your Custom Vue Component:

[code]

**Usage:**

[code]

[2021-09-01 21:28] davidhemphill commented on #80
This is coming in the next series.

[2022-05-17 14:04] RhysLees commented on #79
In Nova 4 now

[2022-05-17 14:06] RhysLees opened #83 "Google Maps & Google Directions Card and Field"
Would be cool if there was a card and field for maps with direction/route support